<div class="questions">
  <span class="your_question"><%= @search %></span>
  <span class="author"><em>-You</em></span>
</div>
<div class="answers">
  <span class="your_answer"><%= @answer %></span>
  <span class="author"><em>-Your Coach</em></span>
</div>
<div class="backlink">
    <a href="/ask">Ask a new question</a>
</div>
